<header class="container-fluid _absolute">
    <div class="content_links">
        <a href="/Home" class="logo_page">
            <img src="/img/logo.png" alt="" width="210px" height="120px">
        </a>
        <ul class="header_links">
            <li>
                <a href="/Products">Productos</a>
            </li>
            <li>
                <a href="/About_Us">Nosotros</a>
            </li>
        </ul>
        <ul class="header_contact">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
        </ul>
    </div>
</header>