<div class="_navigation">
    
</div>
<section class="container">
    <div class="content_primary">
        <h1 class="tittle_primary">¿Quienes somos?</h1>
        <label>Somos una empresa dedicada a la producción y comercialización de Productos Lácteos de calidad y con alto valor nutritivo, mirando a las necesidades de la sociedad peruana.</label>
    </div>
    <div class="content_secondary">
        <div class="content_s">
            <h1 class="tittle_secondary">Nuestra Misión</h1>
            <label>Ser una Empresa Innovadora que busque integrar alimentos que ayuden a mejorar la calidad de vida de las personas, buscando siempre productos de calidad para la elaboración de nuestros productos.</label>
        </div>
        <div class="content_s">
            <h1 class="tittle_secondary">Nuestra Visión</h1>
            <label>Buscamos ser una empresa líder que apueste por la calidad de vida de las personas a base de productos naturales que contribuyan en la salud de las mismas; ayudando al mismo tiempo a quienes necesitan una alimentación saludable.</label>
        </div>
    </div>
</section>