<div class="header">
    <a href="/Products" class="offers">Conoce nuestras ofertas!</a>
</div>
<section class="container">
    <div class="row">
        <div class="offset-2 col-8">
            <p class="sentence">Usamos ingredientes limpios y saludables para hacer yogurt nutricional y entregárselos en empaques no tóxicos y ecológicos.</p>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="question">
        <h1>¿Por qué tomar Yogurt natural?</h1>
    </div>
    <ul class="content_info">
        <li>
            <img src="/img/article-1.jpg" alt="">
        </li>
        <li>
            <img src="/img/article-2.jpg" alt="">
        </li>
        <li>
            <img src="/img/article-3.jpg" alt="">
        </li>
    </ul>
</section>