<div class="_navigation">
    
</div>
<div class="container-fluid" style="padding: 70px 15px;">
    <div class="row">
        <div class="col-6">
            <div class="content_img">
                <img src="/img/products/product-1.png" alt="">
            </div>
        </div>
        <div class="col-6">
            <div class="content_tittle_product">
                <h1 class="tittle_product">{{ product.name }}</h1>
            </div>
            <div class="content_description_product">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam eaque amet qui laborum laudantium similique nesciunt dignissimos iusto consectetur.
            </div>
            <div class="content_price_product">
                S/. {{ product.price }}
            </div>
            <div class="content_actions">
                <div>
                    <span class="product_quantity">Cantidad</span>
                    <input type="number" class="product_quantity_input" min="1" max="10" value="1">
                </div>
                <div>
                    <button class="button product_one">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>
