<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tittle }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css">
    <script src="https://kit.fontawesome.com/56b1105c09.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <button class="shopping_cart"><i class="fa fa-shopping-cart"></i></button>
    {{> navigation }}
    {{{ body }}}
    
    <footer class="container-fluid footer_page">
        <div class="row description">
            <div class="col-4"></div>
            <div class="col-8">
                <p style="font-family: 'Merienda', cursive;">Somos una empresa dedicada a la producción y comercialización de Productos Lácteos de calidad y con alto
valor nutritivo, mirando a las necesidades de la sociedad peruana.</p>
            </div>
        </div>
        <div class=""></div>
    </footer>
</body>
</html>