<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tittle }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css">
    <script src="https://kit.fontawesome.com/56b1105c09.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <button class="shopping_cart"><i class="fa fa-shopping-cart"></i></button>
    {{> navigation }}
    {{{ body }}}
    
    <aside id="cart" class="cart">
        <div class="cart_content">
            <div class="cart_tittle">
                <h1>Carrito de compras</h1>
                <a href="#" onclick="document.getElementById('body').style.overflow = 'inherit'"> <i class="fa fa-close"></i> </a>
            </div>
            <section class="cart_content_products">
                <div class="cart_product">
                    <div class="product_row">
                        <div class="cart_prod_img">
                            <a href="#">
                                <img src="/img/products/product-1.png" alt="">
                            </a>
                        </div>
                        <div class="cart_prod_details">
                            <div class="cart_prod_name">
                                <a href="#">Yogurt de Maracuya</a>
                                <span>Lorem ipsum dolor sit.</span>
                            </div>
                            <div class="cart_prod_actions">
                                <div class="cart_quantity">
                                    <input type="number" min="1" max="10" value="1">
                                </div>
                                <div class="cart_price">
                                    <span>34.99</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart_product">
                    <div class="product_row">
                        <div class="cart_prod_img">
                            <a href="#">
                                <img src="/img/products/product-1.png" alt="">
                            </a>
                        </div>
                        <div class="cart_prod_details">
                            <div class="cart_prod_name">
                                <a href="#">Yogurt de Maracuya</a>
                                <span>Lorem ipsum dolor sit.</span>
                            </div>
                            <div class="cart_prod_actions">
                                <div class="cart_quantity">
                                    <input type="number" min="1" max="10" value="1">
                                </div>
                                <div class="cart_price">
                                    <span>34.99</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="cart_information">
                <div class="cart_total">
                    <span>TOTAL :</span>
                    <span>34.99</span>
                </div>
                <a href="#" class="cart_button">COMPRAR AHORA</a>
            </div>
        </div>
        <a href="#" onclick="document.getElementById('body').style.overflow = 'inherit'" class="cart_close"></a>
    </aside>
    
    <footer class="container-fluid footer_page">
        <div class="row description">
            <div class="col-4"></div>
            <div class="col-8">
                <p style="font-family: 'Merienda', cursive;">Somos una empresa dedicada a la producción y comercialización de Productos Lácteos de calidad y con alto
valor nutritivo, mirando a las necesidades de la sociedad peruana.</p>
            </div>
        </div>
        <div class=""></div>
    </footer>
</body>
</html>
